<%- include('partials/shell-start', { title }) %>
<section class="py-16 text-center">
  <h1 class="text-3xl font-semibold"><%= t('notAllowedTitle') %></h1>
  <p class="mt-2 text-slate-600"><%= t('notAllowedText') %></p>
  <a class="btn-primary mt-6" href="/"><%= t('goHome') %></a>
</section>
<%- include('partials/shell-end') %>
